# Python
__pycache__/
*.py[cod]
*.pyc
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Flask
instance/
.flaskenv

# Database
*.db
*.sqlite
*.sqlite3

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Model files (optional - uncomment if you don't want to upload trained models)
models/